#nav li > a {
  color: #fff;
  display: block;
  line-height: 1em;
  text-shadow: #5c6b88 0.05em 0.075ex,
               #2d3b56 0.11em 0.15ex
}

#nav li > a:hover {
  color: #fff;
  text-decoration: underline
}
